.color-option-modal {
    height: 100%;
}

.color-options {
    display: flex;
    gap: 8px;
    background-color: var(--color-white);
    height: 110px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 0.5px solid var(--color-light-grey);
}

.color-option {
    width: 24px;
    height: 24px;
    border-radius: 100vw;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.05);
}

.color-option:active,
.color-option:focus {
    transform: scale(0.9);
}

.yellow {
    background-color: var(--color-yellow);
}

.orange {
    background-color: var(--color-orange);
}

.pink {
    background-color: var(--color-pink);
}

.green {
    background-color: var(--color-green);
}

.color-options-back {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0 16px;
}

.back-btn {
    width: 70px;
    border: none;
    padding: 6px 16px;
    background-color: var(--color-blue-11);
    color: var(--color-white);
    outline: 1px solid var(--color-blue-11);
}
