.dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color-white);
    width: 280px;
    /* height: 150px; */
    /* padding: 8px; */
    /* border: none; */
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border-width: 0.25px;
    border-color: var(--color-blue-11);
}

.sep {
    border: none;
    height: 1px;
    background-color: var(--color-blue-11);
}
