.comment {
    /* height: 110px; */
    padding: 10px;
    height: 150px;
    /* border-bottom: 0.5px solid var(--color-light-grey); */
}

.comment-area {
    resize: none;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
}

.dialog__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    height: 55px;
}

.dialog__buttons > button {
    cursor: pointer;
    text-align: center;
}

.button--colors {
    margin-right: auto;
}

.button--close,
.button--add,
.button--colors {
    width: 70px;
    border: none;
    padding: 6px 16px;
}

.button--add,
.button--colors {
    background-color: var(--color-blue-11);
    color: var(--color-white);
    outline: 1px solid var(--color-blue-11);
}

.button--close {
    background-color: transparent;
    color: var(--color-blue-11);
    outline: 1px solid var(--color-blue-11);
}

.button--close:hover {
    background-color: var(--color-blue-11);
    color: var(--color-white);
}

.button--add:hover {
    background-color: transparent;
    color: var(--color-blue-11);
}

button:disabled {
    cursor: not-allowed;
    background-color: var(--color-light-grey);
    color: var(--color-white);
    outline: 1px solid var(--color-light-grey);
}

button:disabled:hover {
    background-color: var(--color-light-grey);
    color: var(--color-white);
    outline: 1px solid var(--color-light-grey);
}

/* .button--delete > svg {
    width: 100%;
    height: 100%;
    color: var(--color-blue-11);
} */
