*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Text manipulation styles */
.highlight {
    background-color: #fed7aa;
    text-decoration: underline;
    text-decoration-color: #d97706;
    text-decoration-thickness: 2px;
    padding: 2px;
}

.cursor-pointer {
    cursor: pointer;
}
